    <div class="ui container topsellers no-slideshow">

        <div class="ui horizontal divider">
            SELECIONE A CATEGORIA DESEJADA:
        </div>
    <ul class="categories__list">
        <li class="categories__list-item">
            <a href="/categoria/teste1" class="categories__list-link" target="_blank" title="Cintas e Corselets" alt="Cintas e Corselets">
            <p>teste 1 </p>
            </a>
        </li>
        <li class="categories__list-item">
            <a href="/categoria/teste2" class="categories__list-link" target="_blank" title="Modeladores" alt="Modeladores">
              <p>teste 2 </p>
            </a>
        </li>
       
    </ul>

    </div>